<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title>
      <% if content_for? :title %>
        <%= yield(:title) %> -
      <% end %>
      <%= Madmin.site_name %> Admin
    </title>
    <%= csrf_meta_tags %>
    <%= render "javascript" %>
  </head>
  <body class="h-full font-sans text-gray-900 antialiased">
    <aside id="sidebar" class="fixed inset-y-0 left-0 w-64 overflow-y-auto border-r border-gray-200 bg-white p-4">
      <%= render "navigation" %>
    </aside>
    <main class="pl-64">
      <div class="p-6">
        <%= render "flash" %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
